{% extends 'base.html.twig' %}

{% block title %}The District{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <img src="{{ asset('images_the_district/bg1.jpeg') }}" alt="baniere">
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">categorie</div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
{% endblock %}
