{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        <div class="row">
            <h1 class="mt-4">Administration</h1>
            {% include "partials/_adminnav.html.twig" %}
        </div>
    </div>
{% endblock %}