{% extends "base.html.twig" %}

{% block title %}Administration categories{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Modifié un categorie</h1>
    {% include "admin/categories/_form.html.twig" with {'button_label': 'Modifier'} %}
</div>
{% endblock %}
