{% extends 'base.html.twig' %}

{% block title %}TheDistrict - Catégories{% endblock %}

{% block body %}
    <div class="container">
        {% for categorie in categories %}
            <div>
                <p>{{ categorie.libelle }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
