{% extends 'base.html.twig' %}

{% block title %}TheDistrict - Catégories{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for categorie in categories %}
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ categorie.libelle }}</div>
                <div class="card-body">
                    <img src="{{ asset('images_the_district/category/') ~ categorie.image }}" alt="{{ categorie.image }}"  width="100%">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
