{% extends "base.html.twig" %}

{% block title %}Administration plats{% endblock %}

{% block body %}
<div class="container-fluid mt-4 mb-5">
    <div class="row">
        <h1 class="mt-4">Administration</h1>
        {% include "partials/_adminnav.html.twig" %}
        <main class="col-9">
            <h1 class="mt-4">Ajouter un plat</h1>
            {% include "admin/plats/_form.html.twig" %}
        </main>
    </div>
</div>
{% endblock %}
