{% extends "base.html.twig" %}

{% block title %}Administration plats{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Administration des plats</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endblock %}
