{% extends 'base.html.twig' %}

{% block title %}The District - Mes commandes{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        <h1 class="mt-4">Mes commandes</h1>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">Date de la commande</th>
                    <th scope="col">Total (en €)</th>
                    <th scope="col">Etat de la commande</th>
                    <th scope="col">Détail</th>
                </tr>
            </thead>
            <tbody>
            {% for commande in utilisateur.commandes %}
                <tr class="table-light">
                    <th scope="row">{{ commande.commandedAt | date('d/m/Y') }}</th>
                    <td>{{ commande.total }}</td>
                    <td>
                        {% if commande.etat == 0 %}
                            Enregistée/payée
                        {% endif %}
                        {% if commande.etat == 1 %}
                            En préparation
                        {% endif %}
                        {% if commande.etat == 2 %}
                            en cours de livraison
                        {% endif %}
                        {% if commande.etat == 3 %}
                            Livrée
                        {% endif %}
                    </td>
                    <td><a href="{{ path('commande.detail', {id: commande.id}) }}" class="btn btn-secondary">Détail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}